table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black
}

.cart-table td, .cart-table th {
  padding: 15px;
  border-bottom: 1px solid #c2d3de;
}

.cart-background {
  width: 100%;
  background-color: #c2d3de;
  padding: 30px;
}

.cart-table {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background: white;
  border-radius: 10px;
}

.cart-table th:nth-child(2) {
  width: 400px;
}

.btn {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: coral;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: chocolate;
}

.btn:focus {
  background-color: grey;
}

.btn:active {
  background-color: brown;
}

.input-test {
  font-size: 20px;
}

.input-test:focus {
  border-bottom: 2px solid coral;
}

.custom-link {
  text-decoration: none;
}

.custom-link:link {
  color: violet;
}

.custom-link:visited {
  color: purple;
}

.main-btn {
  padding: 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.f-small {
  font-size: 12px;
}

.f-mid {
  font-size: 16px;
}

.f-lg {
  font-size: 20px;
}

body {
  margin: 0px;
  font-family: 'nanumsquare ', ' dotum ', ' arial ';
}

@font-face {
  font-family: 'nanumsquare ';
  src: url('../fonts/NanumSquareB.woff') format('woff');
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.flex-item {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin: 5px;
}

.nav-container {
  display: flex;
  height: 50px;
  align-items: center;
}

.nav-item {
  margin-right: 10px;
}

.test {
  width: 100%;
  height: 100px;
  background: grey;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
}

.grid-container div {
  border: 1px solid black;
}

.grid-nav {
  grid-column: 1 / 5;
  grid-row: 1/3;
}
