.profile{
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name{
  font-size: 16px;
  text-align: center;
}

.paragraph{
  color:red;
  text-align: center;
}

#special{
  color:blue;
}

.strong{
  color: red;
}


